<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Multi Workbench software</Name>
    <Version>1.1.1</Version>
    <Title>1.1.1 Installer</Title>
    <Publisher>Maiman Electronics</Publisher>
	<ProductUrl>https://maimanelectronics.com</ProductUrl>
	<InstallerWindowIcon>logo.png</InstallerWindowIcon>
	<InstallerApplicationIcon>icon</InstallerApplicationIcon>
	<!--<Logo>logo.png</Logo>-->
        <RunProgram>@TargetDir@/MaimanMultibench.exe</RunProgram>
    <StartMenuDir>Maiman Electronics</StartMenuDir>
    <TargetDir>@RootDir@Program Files\Maiman Electronics\Multi Workbench</TargetDir>
        <AllowSpaceInPath>true</AllowSpaceInPath>
    <RemoteRepositories>
        <Repository>
            <Url>http://maiman.online/MultiSoftUpdate/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
